################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeSmellsDemo/FileContentIndex/eabe6d67-7add-4df4-8e7f-ee3d85b21bd3.vsidx
/.vs/CodeSmellsDemo/FileContentIndex/9562d130-9041-4d4a-bb52-6022360c1620.vsidx
/.vs/CodeSmellsDemo/FileContentIndex/7703527a-ccd1-44cf-89a1-ef107d7693b7.vsidx
/.vs/CodeSmellsDemo/FileContentIndex/461b793b-e816-49b4-ae25-607aaaaa7dfa.vsidx
/.vs/CodeSmellsDemo/FileContentIndex
